{% extends 'index.html' %}

{% load static %}

{% block content %}
<!-- product list part start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product_sidebar">
                    <div class="single_sedebar">
                        <!-- search form starts -->
                            <form method="get" action="{% url 'viewProduct' %}">
                                {% csrf_token %}
                                <input type="text" name="search_query" value="{{search_query}}" placeholder="Search keyword"><br/>
                                <i class="ti-search"></i>
                            </form>
                        <!-- search form ends -->
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Brand <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                {% for brand in brandlist %}
                                    <p><a href="{% url 'searchitem' brand.brand_name %}">{{brand.brand_name}}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Usage <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                {% for usage in usagelist %}
                                <p><a href="{% url 'searchitem' usage.usagefor_name %}">{{usage.usagefor_name}}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product_list">
                    <div class="row">
                        {% for product in productlist %}
                        <div class="col-lg-6 col-md-6 col-sm-6" >
                            <div class="single_product_item d-flex flex-column align-items-center ">
                                <div style="height: 300px; width:300px;" class="d-flex justify-content-center align-items-center">
                                    <img src="{{ product.product_image.url }}" alt="#" class="img-fluid" style="width: 100%; height: 100%;" >
                                </div>
                                <h3 ><a href="#">{{product.product_name}}</a></h3>
                                <p >{{product.product_description}}</p>
                                <p >{{product.product_price}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="load_more_btn text-center pagination justify-content-center">
                        <ul class="container " style="display: contents;">
                            {% if productlist.has_previous %}
                                <li><a href="?page={{productlist.previous_page_number}}" class="btn page-link btn--sub">&#10094;PREV</a></li>
                            {% endif %}

                            <!-- {% for page in paginator.page_range %}
                                {% if  page == productlist.number %}
                                    <li><a href="?page={{page}}" class="btn page-link btn--sub active">{{page}}</a></li>
                                {% else  %}
                                    <li><a href="?page={{page}}" class="btn page-link">{{page}}</a></li>
                                {% endif %}

                            {% endfor %} -->
                            {% for page in paginator.page_range %}
                                {% if page == productlist.number %}
                                    <li><a href="?page={{ page }}" class="btn page-link active">{{ page }}</a></li>
                                 {% else %}
                                    <li><a href="?page={{ page }}" class="btn page-link">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if productlist.has_next %}
                                 <li><a href="?page={{productlist.next_page_number}}" class="btn page-link btn--sub">NEXT &#10095;</a></li>
                             {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list part end-->

<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <!-- Your client review code here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->

<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>Credibly innovate granular
                        internal or organic sources
                        whereas standards.</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Your feature icons code here -->
        </div>
    </div>
</section>
<!-- feature part end -->

<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->
{% endblock content %}
